@{
    ViewBag.Title = "Inicio";
}

<div class="jumbotron" style="margin-top:10px">
    <center>
        <h1>Joel Brito</h1>
        <p class="lead">2015-3229</p>
    </center>
</div>

    <div class="row" >
        <center>
            <img src="~/image/money.png" />
        </center>
    </div>